astunparse
configparser
coverage
docutils
flake8-blind-except
flake8-coding
flake8-debugger
flake8-quotes
flake8-isort
isort
pep8-naming
pytest
pytest-cov
pytest-runner
rst2pdf
snapshottest
sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
setuptools-scm
typing
