Jinja2==2.11.3
MarkupSafe==1.1.1
astunparse
coverage
coveralls
docutils==0.16
flake8-blind-except
flake8-coding
flake8-debugger
flake8-isort
flake8-quotes
idna==2.10
isort
pep8-naming
pyyaml
pytest
pytest-cov
pytest-runner
rst2pdf
snapshottest==0.5.0
sphinx
sphinx-testing
sphinx_rtd_theme
sphinxcontrib-httpdomain
toml
