astunparse
coverage
coveralls
docutils
flake8-blind-except
flake8-coding
flake8-debugger
flake8-isort
flake8-quotes
isort
pep8-naming
pytest
pytest-cov
pytest-runner
rst2pdf
snapshottest
sphinx
sphinxcontrib-httpdomain
sphinx_rtd_theme
sphinx-testing
typing
pip==9.0.3
pycodestyle==2.3.1
