# Runtime dependencies
astunparse
docutils
sphinxcontrib-httpdomain
setuptools
sphinx
# Build and development dependencies
black
coverage
coveralls
flake8
isort
pytest
pytest-cov
pytest-runner
snapshottest
sphinx-rtd-theme
sphinx-testing
spihnx-copybutton
