name: "build"
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [python310, python311, python312, python313, python314]
        sphinx: [8.2.3, 8.1.3, 8.0.2, 7.4.7]
        exclude:
          - python: python310
            sphinx: 8.2.3
        exclude:
          - python: python312
            sphinx: 7.4.7
        exclude:
          - python: python313
            sphinx: 7.4.7
        exclude:
          - python: python314
            sphinx: 7.4.7
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v30
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: datakurre
        signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix profile install nixpkgs#devenv
    - run: LC_ALL=en_US.UTF-8 make devenv-test devenv-coverage devenv-docs PYTHON=${{ matrix.python }} SPHINX=${{ matrix.sphinx }}
    - uses: coverallsapp/github-action@v2
      if: matrix.python == 'python314' && matrix.sphinx == '8.2.3'
      with:
        debug: true
        format: cobertura
        github-token: ${{ secrets.GITHUB_TOKEN }}
